<div class="flex-col">
  <div class="flex-col">
    <div class="w-fit max-sm:p-0 max-sm:pt-2">
      <a (click)="selectSection('Menu')" routerLink=""
        ><H1 class="text-4xl text-gray-950 dark:text-gray-200 whitespace-nowrap"
          >Lucas Mahler</H1
        >

        <p
          class="text-lg text-gray-700 dark:text-gray-300 font-light whitespace-nowrap"
        >
          {{ "devfullstack" | transloco }}
        </p>
      </a>
    </div>
    <nav
      class="p-4 max-sm:p-0 w-1/8 max-sm:w-fit h-full flex flex-col text-gray-700 dark:text-gray-300 pt-16 max-sm:pt-4"
    >
      <ul class="flex flex-col text-2xl font-semibold">
        <div
          [ngClass]="{
            'ml-5': selectedSection === 'project',
            'hover:px-7': selectedSection !== 'project',
          }"
          class="group flex items-center transition-all duration-200 p-2 w-fit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            [ngClass]="
              selectedSection === 'project'
                ? 'text-red-400 dark:text-red-500 opacity-100 stroke-3 size-4 group-hover:size-6'
                : 'group-hover:opacity-40 group-active:opacity-100 text-gray-400 transition-opacity duration-200'
            "
            class="size-6 ease-in opacity-0 will-change-transform will-change-opacity"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
          <li
            class="ease-in-out transition-all flex max-w-fit duration-200 group-hover:text-3xl group-hover:text-gray-900 dark:group-hover:text-gray-100 group-hover:font-medium"
          >
            <a
              (click)="selectSection('project')"
              routerLink="project"
              #scrambleText
              >Projets</a
            >
          </li>
        </div>
        <div
          [ngClass]="{
            'ml-5': selectedSection === 'stack',
            'hover:px-7': selectedSection !== 'stack',
          }"
          class="group flex items-center transition-all duration-200 p-2 w-fit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            [ngClass]="
              selectedSection === 'stack'
                ? 'text-red-400 dark:text-red-500 opacity-100 stroke-3 size-4 group-hover:size-6'
                : 'group-hover:opacity-40 group-active:opacity-100 text-gray-400 transition-opacity duration-200'
            "
            class="size-6 ease-in opacity-0 will-change-transform will-change-opacity"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
          <li
            class="ease-in-out transition-all flex max-w-fit duration-200 group-hover:text-3xl group-hover:text-gray-900 dark:group-hover:text-gray-100 group-hover:font-medium"
          >
            <a (click)="selectSection('stack')" routerLink="stack" #scrambleText
              >Stacks</a
            >
          </li>
        </div>
        <div
          [ngClass]="{
            'ml-5': selectedSection === 'formation',
            'hover:px-7': selectedSection !== 'formation',
          }"
          class="group flex items-center transition-all duration-200 p-2 w-fit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            [ngClass]="
              selectedSection === 'formation'
                ? 'text-red-400 dark:text-red-500 opacity-100 stroke-3 size-4 group-hover:size-6'
                : 'group-hover:opacity-40 group-active:opacity-100 text-gray-400 transition-opacity duration-200'
            "
            class="size-6 ease-in opacity-0 will-change-transform will-change-opacity"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
          <li
            class="ease-in-out transition-all flex max-w-fit duration-200 group-hover:text-3xl group-hover:text-gray-900 dark:group-hover:text-gray-100 group-hover:font-medium"
          >
            <a
              (click)="selectSection('formation')"
              routerLink="formation"
              #scrambleText
              >Formation</a
            >
          </li>
        </div>
        <div
          [ngClass]="{
            'ml-5': selectedSection === 'contact',
            'hover:px-7': selectedSection !== 'contact',
          }"
          class="group flex items-center transition-all duration-200 p-2 w-fit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            [ngClass]="
              selectedSection === 'contact'
                ? 'text-red-400 dark:text-red-500 opacity-100 stroke-3 size-4 group-hover:size-6'
                : 'group-hover:opacity-40 group-active:opacity-100 text-gray-400 transition-opacity duration-200'
            "
            class="size-6 ease-in opacity-0 will-change-transform will-change-opacity"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
          <li
            class="ease-in-out transition-all flex max-w-fit duration-200 group-hover:text-3xl group-hover:text-gray-900 dark:group-hover:text-gray-100 group-hover:font-medium"
          >
            <a
              (click)="selectSection('contact')"
              routerLink="contact"
              #scrambleText
            >
              Contact
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>
